**/bin/
**/obj/
**/.vs/
**/TestResults/
**/*.user
**/appsettings.Development.json
**/appsettings.Secrets.json
**/secrets.json
**/wwwroot/uploads/*
!**/wwwroot/uploads/.gitkeep
Dockerfile
.dockerignore
